@import './variables/_color.scss';
@import './variables/_spacing.scss';

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  // height: 100vh;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1200px) {
  .page {
    max-width: var(--boxed-max-width);
  }
}

// theme toggler
.theme-toggler-wrap{
  width: 100%;
  text-align: right;
  .theme-toggler{
    display: inline-block;
    cursor: pointer;
    .toggle-path{
      width: 40px;
      height: 20px;
      border-radius: 10px;
      background-color: rgb(247, 244, 244);
      .toggle-handle{
        background-color: #999;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: all .3s ease-in-out;
      }
    }
    &.active{
      .toggle-path{
        background-color: #555;
      }
      .toggle-handle{
        transform: translate(20px);
        background-color: #7bbb5e;
      }
    }
  }
}

// theme switch action
#app.dark-theme{
  background-color: $bg-theme-dark;
  color: $dark-theme-color;

  .content-box{
    background-color: #333;
    h3,
    h5{
      color:#7bbb5e
    }
    p{
      color: #ccc;
    }
  }
  .links{
    a{
      color: #fff;
    }
  }
}